#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

#login-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#google-signin-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#google-signin-button:hover {
    background-color: #1c6ef2;
}

#google-signin-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#image-container {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#image-container img {
    max-width: 100%;
    height: auto;
}


#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 18vh;
    padding: 20px;
}

#logo-container {
    margin-right: 20px;
    background-color: #ffffff;
}


#search-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #a30a26;
}

#signout-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#signout-button:hover {
    background-color: #d32f2f;
}
